@charset "UTF-8";
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

div a {
  text-decoration: none;
}

.container {
  max-width: 1529px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-name-vn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22.4992px;
  line-height: 27px;
  /* identical to box height */
  /* red_theme */
  color: #B30E0E;
}
.header-name-english {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17.0072px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}
.header-input {
  outline: none;
}
.header-search-link {
  right: 5%;
  top: 0;
}
.header-top {
  position: relative;
  background-color: #B30E0E;
  width: 100%;
}
.header-item a:hover {
  color: #F4A021;
}
.header-item {
  padding: 8px 0;
  text-transform: uppercase;
}
.header-toggle {
  display: none;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}
.header-toggle-item a {
  text-decoration: none;
}
.header-toggle-dropdown {
  margin: 2rem 0;
}
.header-toggle-dropdown-list {
  padding-left: 0;
}
.header-toggle-dropdown-item {
  margin-bottom: 1rem;
}
.header-toggle-dropdown-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 0 1rem;
}
.header-toggle-dropdown2 {
  border-bottom: 1px solid #ffffff;
  margin-top: 2rem;
}
.header-toggle-dropdown2-list {
  padding-left: 0;
}
.header-toggle-dropdown2-item a {
  text-decoration: none;
  color: yellow !important;
  margin-bottom: 2rem;
}
.header-menu-toggle {
  display: none;
  transform: translateX(100%);
  z-index: 2;
  padding: 0 10px;
  position: absolute;
  background-color: #B30E0E;
  width: 100%;
  top: 99%;
  left: 0;
}
.header-toggle-item {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
}
.header-toggle-item a {
  color: #ffffff;
}
.header-toggle-item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.is-toggle {
  z-index: 2;
  display: block;
  transform: translateX(0);
}

.menu-toggle {
  display: none;
  position: absolute;
  width: 250px;
  min-height: 150px;
  background-color: #ffffff;
  top: 100%;
  left: 25.5%;
  z-index: 2;
}
.menu-toggle-item {
  padding: 0 1.5rem;
}
.menu-toggle-item a {
  text-decoration: none;
  color: #B30E0E;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto";
  display: block;
  margin-top: 2rem;
  color: #B30E0E;
  padding-bottom: 1rem;
  border-bottom: 2px solid #B30E0E;
}
.menu-toggle-item a i {
  position: absolute;
  right: 0;
}
.menu-toggle-list {
  margin-bottom: 20px;
}

.menu-toggle-level2 {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  height: 320px;
  padding: 0 1.5rem;
  background-color: #ffffff;
}
.menu-toggle-level2-item {
  padding-left: 10px;
}
.menu-toggle-level2-item a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto";
  display: block;
  margin-top: 3rem;
  line-height: 25px;
  color: #B30E0E;
  padding-bottom: 1rem;
  border-bottom: 2px solid #B30E0E;
}

.header-item:nth-child(3):hover > .menu-toggle {
  display: block;
}

.menu-toggle-item:nth-child(1):hover .menu-toggle-level2 {
  display: block;
}

.nav-icon {
  margin-right: 33px;
}

.nav-link, .nav-icon {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 831px;
  object-fit: cover;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  left: 45%;
  display: flex;
  justify-content: center;
  bottom: 2%;
}

.manual-btn {
  border: 2px solid #B30E0E;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #B30E0E;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  left: 45%;
  justify-content: center;
  bottom: 3%;
}

.navigation-auto div {
  border: 2px solid #B30E0E;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #B30E0E;
  box-shadow: 0 0 0 3px white, 0 0 0 4px #B30E0E;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #B30E0E;
  box-shadow: 0 0 0 3px white, 0 0 0 4px #B30E0E;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #B30E0E;
  box-shadow: 0 0 0 3px white, 0 0 0 4px #B30E0E;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #B30E0E;
  box-shadow: 0 0 0 3px white, 0 0 0 4px #B30E0E;
}

.noti {
  z-index: 1;
  margin-top: 3rem;
}
.noti-item1 {
  grid-area: box1;
}
.noti-item2 {
  grid-area: box2;
}
.noti-item3 {
  grid-area: box3;
}
.noti-desc {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "box1 box1 box2" "box1 box1 box3";
}
.noti-item {
  overflow: hidden;
}
.noti-item img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.noti-item img:hover {
  transform: scale(1.1);
}
.noti-title {
  border-bottom: 1px solid #EAEAEA;
  padding-left: 2.6rem;
  display: block;
  position: relative;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 70px;
  color: #222222;
}
.noti-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 26px;
  background-color: #B30E0E;
  top: 20px;
  left: 0;
}
.noti-item1 {
  position: relative;
  height: 410px;
}
.noti-item2, .noti-item3 {
  position: relative;
  width: 100%;
  height: 195px;
}
.noti-item-time {
  position: absolute;
  left: 2rem;
  font-family: "Noto Serif";
  background-color: #B30E0E;
  padding-right: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  left: 1rem;
  top: 45px;
}
.noti-item-time-icon {
  margin: 0 1rem;
}
.noti-item-content {
  padding: 0 1rem;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 45.83%, rgba(0, 0, 0, 0) 92%);
  height: 150px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.noti-text {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.noti-text2, .noti-text3 {
  position: absolute;
  bottom: 0;
  font-size: 16px;
}
.noti-left-item img {
  width: 147px;
  height: 117px;
}
.noti-left-item :hover {
  background-color: #efefef;
}
.noti-left-content {
  padding-left: 2.6rem;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  color: #222222;
}
.noti-left-content a {
  color: #000000;
  text-decoration: none;
}
.noti-left-item {
  display: flex;
}
.noti-right {
  margin-left: 1rem;
}
.noti-right-content a {
  text-decoration: none;
}
.noti-right-item:not(:last-child) {
  margin-bottom: 1.8rem;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 1.8rem;
}
.noti-right-time {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #B30E0E;
}
.noti-right-text {
  display: -webkit-box;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  -webkit-line-clamp: 2;
  /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.option-highlight {
  width: 100%;
  height: 175px;
  background-color: #B30E0E;
  font-family: "Montserrat";
}
.option-highlight a {
  text-decoration: none;
}
.option-highlight a {
  display: block;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 70px;
  color: #FFFFFF;
}
.option-choose {
  width: 100%;
  height: 175px;
  border: 1px solid #F4A021;
  background-color: #ffffff;
}
.option-choose a {
  text-decoration: none;
}
.option-choose-icon {
  display: block;
  color: #B30E0E;
  font-size: 30px;
}
.option-choose a {
  display: block;
  text-align: center;
  margin: 50px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 70px;
  text-align: center;
  color: #222222;
}

.event-title {
  text-transform: uppercase;
  border-bottom: 1px solid #EAEAEA;
  padding-left: 2.6rem;
  display: block;
  position: relative;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 70px;
  color: #222222;
}
.event-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 26px;
  background-color: #B30E0E;
  top: 20px;
  left: 0;
}
.event-right a {
  text-decoration: none;
}
.event-right-item:not(:last-child) {
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 1.3rem;
}
.event-right-content {
  margin-top: 50px;
  position: relative;
}
.event-right-time {
  position: absolute;
  left: 2rem;
  font-family: "Noto Serif";
  background-color: #B30E0E;
  padding-right: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  position: absolute;
  left: 0;
  top: -39px;
  padding-left: 10px;
}
.event-right-text {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}

.addmission-item img {
  height: 408px;
  object-fit: cover;
}
.addmission-left a {
  text-decoration: none;
}
.addmission-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 26px;
  display: block;
  position: relative;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 70px;
  color: #222222;
}
.addmission-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 26px;
  background-color: #B30E0E;
  top: 20px;
  left: 0;
}
.addmission-item-time {
  position: absolute;
  left: 2rem;
  font-family: "Noto Serif";
  background-color: #B30E0E;
  padding-right: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  top: 51px;
}
.addmission-item-time-icon {
  margin: 0 1rem;
}
.addmission-item-title {
  margin-bottom: 16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #222222;
}
.addmission-item-title a {
  color: #222222;
}
.addmission-item-title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  /* or 136% */
  color: #222222;
}
.addmission-left-img {
  width: 174px;
  height: 117px;
}
.addmission-item-text-time {
  position: absolute;
  left: 2rem;
  font-family: "Noto Serif";
  background-color: #B30E0E;
  padding-right: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  top: 0px;
  left: 3rem;
}
.addmission-item-text-time-icon {
  margin: 0 1rem;
}
.addmission-item-text-content {
  margin-left: 30px;
  margin-top: 40px;
}
.addmission-left-content {
  padding-left: 20px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}
.addmission-left-content a {
  text-decoration: none;
  color: #222222;
}
.addmission-left-content:hover {
  background-color: #cfcfcf;
}
.addmission-left-item {
  display: flex;
}

.co-operate-img {
  width: 100%;
  height: 239px;
  object-fit: cover;
}

.co-operate a {
  text-decoration: none;
}
.co-operate-title {
  text-transform: uppercase;
  padding-left: 2.6rem;
  display: block;
  position: relative;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 70px;
  color: #222222;
}
.co-operate-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 26px;
  background-color: #B30E0E;
  top: 20px;
  left: 0;
}
.co-operate-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #B30E0E;
}
.co-operate-detail {
  text-transform: uppercase;
  margin-left: 0.7rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #0067DA;
}
.co-operate-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #222222;
}
.co-operate-text a {
  color: #222222;
}
.co-operate-content:hover {
  background-color: #cfcfcf;
}

.job-img {
  width: 214px;
  height: 146px;
}

.job-content {
  padding-left: 20px;
}
.job-content:hover {
  background-color: #cfcfcf;
}
.job-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #B30E0E;
}
.job-detail {
  text-transform: uppercase;
  margin-left: 0.7rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #0067DA;
}
.job-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #222222;
}
.job-text a {
  text-decoration: none;
  color: #222222;
}
.job-item {
  display: flex;
}

.acti-content {
  overflow: hidden;
  width: 100%;
}
.acti-content img {
  transition: all 0.3s ease;
}
.acti-content img:hover {
  transform: scale(1.1);
}
.acti-text {
  padding: 0 3.1rem;
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: #b30e0eab;
}
.acti-text a {
  text-decoration: none;
  color: #ffffff;
}

.job-title, .acti-title {
  text-transform: uppercase;
  padding-left: 2.6rem;
  display: block;
  position: relative;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 70px;
  color: #222222;
  margin-bottom: 1rem;
}
.job-title::before, .acti-title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 26px;
  background-color: #B30E0E;
  top: 20px;
  left: 0;
}

.group {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro {
  margin-top: 60px;
}
.intro-title {
  margin-bottom: 1rem;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #B30E0E;
}
.intro-value a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}

.footer {
  padding-top: 3rem;
  margin-top: 6rem;
  height: 297px;
  background-color: #B30E0E;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-school {
  display: flex;
  align-items: center;
}
.footer-nameschool {
  text-align: center;
  margin-left: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18.3596px;
  line-height: 22px;
  color: #ffffff;
}
.footer-nameschool-english {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 13.878px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer-list {
  display: flex;
  text-align: end;
}
.footer-item {
  margin-right: 3rem;
}
.footer-icon {
  color: #ffffff;
  font-size: 20px;
}
.footer-text {
  display: flex;
  position: relative;
}
.footer-location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 4rem;
}
.footer-address, .footer-call, .footer-hotline {
  display: block;
}
.footer-design {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 100%);
  display: flex;
  align-items: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .is-toggle {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header-top {
    height: 41px;
  }

  .header-toggle {
    display: block;
  }

  .header-search {
    width: 100%;
    margin-top: 10px;
  }

  .slide img {
    width: 100%;
    height: 500px;
  }

  .navigation-manual {
    bottom: 1.4%;
  }

  .nav-list {
    display: none;
  }

  .group {
    display: grid;
    flex-wrap: wrap;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  }

  .group-img1 {
    grid-area: img1;
  }

  .group-img2 {
    grid-area: img2;
  }

  .group-img3 {
    grid-area: img3;
  }

  .group-img4 {
    grid-area: img4;
  }

  .group-img5 {
    grid-area: img5;
  }

  .group-img6 {
    grid-area: img6;
  }

  .noti-text2, .noti-text3 {
    font-size: 13px;
  }

  .noti-left-content {
    padding-left: 0.6rem;
  }

  .addmission-left {
    margin-bottom: 50px;
  }
  .addmission-left-content {
    font-size: 15px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .addmission-item-title {
    font-size: 19px;
  }

  .addmission-item-title-text {
    font-size: 17px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .addmission-item img {
    height: 100%;
    object-fit: cover;
  }

  .co-operate-item:nth-child(1),
.co-operate-item:nth-child(2) {
    margin-bottom: 30px;
  }

  .co-operate-time {
    font-size: 12px;
  }

  .co-operate-text {
    font-size: 16px;
  }

  .acti-text {
    padding: 0px 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  .header-left img {
    width: 50px;
  }

  .header-left {
    margin-bottom: 30px;
  }

  .header-search {
    width: 100%;
  }

  .header-name-vn {
    font-size: 12px;
  }

  .header-name-english {
    font-size: 10px;
  }

  .slide img {
    height: 300px;
  }

  .option-highlight a {
    font-size: 19px;
  }

  .navigation-auto {
    left: 32%;
  }

  .navigation-manual {
    left: 32%;
    bottom: 0%;
  }

  .noti-desc {
    display: block;
  }

  .noti-item {
    margin-bottom: 25px;
  }

  .noti-right {
    margin-left: 0;
  }

  .noti-left-item, .addmission-left-item {
    display: block;
    margin-bottom: 25px;
  }

  .noti-left-content {
    padding-left: 0;
  }

  .noti-left-item img {
    width: 100%;
    height: auto;
  }

  .addmission-item-text-content {
    margin-left: 0px;
  }

  .addmission-item-text-time {
    position: absolute;
    left: 2rem;
    font-family: "Noto Serif";
    background-color: #B30E0E;
    padding-right: 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
    top: 0px;
    left: 1rem;
    margin-top: 10px;
  }

  .addmission-left-img {
    width: 100%;
    height: auto;
  }

  .addmission-left-content {
    padding-left: 0;
  }

  .co-operate-img {
    width: 100%;
  }

  .co-operate-item {
    margin-bottom: 30px;
  }

  .job-item {
    display: block;
    margin-bottom: 30px;
  }

  .job-content {
    padding-left: 0;
  }

  .job-img {
    width: 100%;
    height: auto;
  }

  .group {
    display: block;
    text-align: center;
  }
  .group-img {
    width: 50%;
  }
  .group-img:not(:last-child) {
    margin-bottom: 4rem;
  }

  .intro-list {
    text-align: start;
  }

  .footer {
    height: 400px;
  }

  .footer-nameschool-english {
    display: block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    font-size: 10.878px;
  }

  .footer-nameschool {
    font-size: 12.3596px;
  }

  .footer-school {
    margin-bottom: 2rem;
  }

  .footer-logo {
    display: block;
  }

  .footer-list {
    display: flex;
    justify-content: center;
  }

  .footer-design {
    left: 0;
  }

  .footer-location, .footer-design {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
